

    <nav class="fixed top-0 z-50 w-full bg-[#002B5B] text-white px-6 py-3 flex items-center justify-between shadow-md">
        <div class="flex items-center space-x-2">
            <h1 class="text-3xl font-black italic tracking-tighter">IELTS<span class="text-blue-400">*</span></h1>
            <p class="text-[10px] uppercase font-bold tracking-widest leading-none">Admin</p>
        </div>
        <div class="flex items-center space-x-6">
            <i class="fa-regular fa-bell text-xl cursor-pointer"></i>
            <div class="flex items-center space-x-3 border-l border-white/20 pl-6">
                <div class="text-right hidden sm:block">
                    <p class="text-xs font-bold">Nazmul Hossain</p>
                </div>
                <div class="w-10 h-10 rounded-full bg-gray-300 border-2 border-white/50 overflow-hidden">
                    <img src="https://ui-avatars.com/api/?name=Nazmul+Hossain" alt="Profile">
                </div>
            </div>
        </div>
    </nav>

    <div class="flex pt-16">
        <aside class="w-64 fixed left-0 h-[calc(100vh-64px)] bg-white border-r border-gray-200 overflow-y-auto hidden md:block">
            <div class="p-6 text-center border-b">
                <div class="w-20 h-20 mx-auto bg-gray-100 rounded-full flex items-center justify-center mb-3">
                    <img src="https://app.e2language.com/Images/DefaultAvatar.png" class="rounded-full" alt="">
                </div>
                <h3 class="font-bold text-sm">Nazmul Hossain</h3>
                <p class="text-[10px] text-gray-400 mt-1">E2L-26032007735 | IELTS</p>
                <span class="text-[10px] bg-gray-100 px-2 py-0.5 rounded text-gray-500 font-bold">General Free</span>
            </div>

            <nav class="p-4 space-y-1">
                <a routerLink="/admin/dashboard" routerLinkActive="text-blue-700 bg-blue-50" class="flex items-center px-4 py-3 text-sm font-bold text-gray-500 hover:bg-gray-50 rounded-lg">
                    <i class="fa-solid fa-house-chimney w-6"></i> Dashboard
                </a>
                <a routerLink="/admin/create-test" routerLinkActive="text-blue-700 bg-blue-50" class="flex items-center px-4 py-3 text-sm font-bold text-gray-500 hover:bg-gray-50 rounded-lg transition">
                    <i class="fa-solid fa-calculator w-6"></i> Create Test
                </a>
                
            </nav>

            <div class="p-4 mt-10 space-y-2">
                <button class="w-full py-2.5 text-[11px] font-black text-red-500 border border-red-100 bg-red-50 rounded uppercase text-left pl-2">
                    <i class="fa-solid fa-arrow-right-from-bracket w-4"></i> Logout</button>
            </div>
        </aside>

        <main class="flex-1 md:ml-64 p-8 bg-slate-100 min-h-screen">
            
            <router-outlet></router-outlet>
            
        </main>
    </div>
